.container {
  display: flex;
  height: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.inputwrap {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 5;
  margin-right: 12px;
  font-size: 14px;
}

.inputwrap * {
  border: none;
  outline: none;
}

.inputwrap input {
  padding: 0;
}
